.header_custom table thead > tr > th{
    background-color: brown !important;
    color: red;
    text-align: center;
}

.header_custom table thead > tr > th:nth-child(2){
    width: 250px !important;
}